body {
  font-family: "Kreon", serif;
}

#app-root {
  min-height: 100svh;
}

.container {
  display: flex;
  min-height: 100svh;
  align-items: center;
  flex-flow: column nowrap;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 679px;
  min-width: 500px;
  width: 100%;
  margin-bottom: 20px;
  max-height: 246px;
  /* flex: 0 0 200px; */
}

.menuWrapper {
  margin-left: 29px;
}

.title {
  display: flex;
  min-width: 262px;
  height: 121px;
  line-height: normal;
}

.titleName {
  font-size: 6rem;
  min-width: 165px;
}

.titleDescription {
  font-size: 1.25rem;
  align-self: center;
  padding-left: 10px;
  width: 87px;
}

.main {
  background-color: #0e0a0a;
  color: #ffffff;
  text-align: center;
  font-size: 6rem;
  min-height: 170px;
  padding-top: 40px;
  width: 100%;
  flex: 1 1 0%;
}

@keyframes translateY {
  0% {
  }

  90% {
    transform: translateY(20px);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }
}

.cat {
  animation-duration: 4s;
  animation-name: translateY, disappear;
  animation-iteration-count: infinite;
  z-index: -2;
}

@media (max-width: 600px) {
  .menuWrapper {
    margin-left: 0;
  }
  .header {
    justify-content: center;
  }
}

@media (max-width: 510px) {
  .cat {
    display: none;
  }
  .main {
    font-size: 64px;
  }
  .header {
    height: 165px;
  }
}
